.header-toolbar {
  position: sticky;
  top: 0;
  height: 4.5rem; 
  z-index: 1;
  background-color: #fff;

  .logo {
    width: 7rem;
    height: 3rem;
    object-fit: contain;
    content: var(--logo-url);
  }

  .title, .balance {
    color: var(--main-700);
  }
}


@media screen and (max-width: 768px) {
  .header-toolbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

