:host ::ng-deep #store-list-section {
  .p-panel-header {
    border-left: 5px solid var(--main-500);
    background: var(--main-100);
  }

  .p-panel-content {
    padding: .5rem;
  }

  .item-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
  }

  .p-rating {
    .p-disabled, .p-component:disabled {
      opacity: 1 !important;
    }
  }
}
